/*.ProseMirror-menubar-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  flex: 1 0 50px;
}*/

/*.ProseMirror-menubar {
  min-height: 50px;
}*/

.ProseMirror {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.ProseMirror p + p {
  margin-top: 1rem;
}

.ProseMirror {
  padding: 1rem;
  /*flex: 0 1 auto;
  overflow-y: auto;
  max-height: 100%;*/
}

/*.ProseMirror::after {
  content: "";
  display: block;
  height: 200px;
}*/

.ProseMirror p {
  flex: 1 0 auto;
  margin-top: 0;
}

.ProseMirror li > p {
  margin-bottom: 0;
}

.ProseMirror-menuitem {
  padding: 0.3rem;
}

.ProseMirror blockquote {
  margin-top: 0;
}

.ProseMirror blockquote > p {
  margin-bottom: 0;
}

.ProseMirror blockquote::before {
  content: "\201D";
  font-size: 200%;
  color: gray;
  float: left;
  padding: 0 0.5rem 0 0;
}

.ProseMirror blockquote {
  padding: 0.5rem;
  border-left: 5px solid rgb(0,0,100);
  background-color: rgba(0,0,255,0.1);
}

.ProseMirror pre {
  background-color: #eee;
}
